<div class = "chat">
  <div class = "chat-header">
    <div class = "header-name">fogefuga</div>
    <div class = "header-fin"><a helf= "#">チャットを終了する</a></div>
  </div>
  <div class = "chat-main">
    <div class = "main-message">
      <div class = "main-up-message">
        <div class = "main-name">Tom</div>
        <div class = "main-time">2020/07/01</div>
      </div>
      <div class = "main-down-message">
        <div class = "main-comment">おはよう</div>
      </div>
    </div>
    <div class = "main-message">
      <div class = "main-up-message">
        <div class = "main-name">Sim</div>
        <div class = "main-time">2020/07/01</div>
      </div>
      <div class = "main-down-message">
        <div class = "main-comment">おやすみ</div>
      </div>
    </div>
  </div>
  <div class = "chat-footer">
    <div class = "footer-message">
      <input class = "message-form" placeholder= "type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
    </div>
      <input class = "message-btn" type = "submit" value = "送信">
  </div>
</div>