<div class = "side-bar">
  <div class = "side-box">
    <div class = "side-name"><a href="#">Tom</a></div>
    <div class = "side-btn"><a href="#">チャットを作成する</a></div>
  </div>
  <div class = "side-main">
    <div class = "side-main-room"><a href="#">techroom1</a></div>
    <div class = "side-main-room"><a href="#">techroom2</a></div>
  </div>
</div>